---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import Text from "@/components/foundations/elements/Text.astro";
---

<section>
  <Wrapper variant="base" class="pt-16 pb-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
      <Text
        tag="h1"
        variant="textBase"
        class="text-zinc-800 dark:text-zinc-200 text-balance"
      >
          Hello, I'm Utkarsh :)
      </Text>
      <Text tag="p" variant="textMD" class="text-zinc-500 dark:text-zinc-400">
          I build custom software and digital products for people with ideas.      </Text>
    </div>
  </Wrapper>
</section>
