---
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
import Text from "@/components/foundations/elements/Text.astro";

const products = [
	{
		name: "LogBunny",
		description:
			"A logging-as-a-service platform designed to simplify log collection and management for applications. Features real-time updates, report generation, and analytics powered by AI.",
		launchYear: "2023",
		link: "#_",
	},
	{
		name: "Tracker",
		description:
			"An issue-tracking system for smaller tasks, supporting priority-based categorization, ticket creation, and data visualization using Chart.js.",
		launchYear: "2022",
		link: "https://github.com/Tweedle2Dum/Bug-tracker",
	},
	{
		name: "Godit",
		description:
			"A terminal-based text editor built in Go, following Unix standards and featuring theme configuration and custom key bindings.",
		launchYear: "2023",
		link: "https://github.com/Tweedle2Dum/godit",
	},
	{
		name: "L4 Proxy (TCP)",
		description:
			"A Layer 4 proxy for TCP traffic with access control and load balancing, built for learning and experimentation with Rust.",
		launchYear: "2024",
		link: "https://github.com/Tweedle2Dum/reverse-proxy",
	},
];
---

<section id="products" class="scroll-mt-12">
  <Wrapper variant="base" class="py-8 2xl:py-16 border-t">
    <div class="w-full grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <Text
          tag="h2"
          variant="textMD"
          class="font-medium text-zinc-800 dark:text-zinc-200"
        >
          Products
        </Text>
        <Text tag="p" variant="textSM" class="font-medium text-zinc-500">
          Things I've designed and developed
        </Text>
      </div>
      <div class="lg:col-span-2 divide-y gap-4 flex flex-col divide-black/5">
        {
          products.map((product, index) => (
            <a
              href={product.link}
              class={`pb-4 group w-full animate-text`}
              data-delay={index * 100}
            >
              <div class="flex items-center justify-between w-full">
                <Text
                  tag="h4"
                  variant="textBase"
                  class="text-zinc-80 group-hover:text-black dark:text-zinc-200 dark:group-hover:text-white duration-300 flex items-center"
                >
                  {product.name}
                </Text>
                <span class="ml-2 text-transparent group-hover:text-current duration-300">
                  →
                </span>
              </div>
              <div class="text-zinc-500 text-pretty mt-2 dark:text-zinc-400">
                <Text tag="p" variant="textSM">
                  {product.description}
                </Text>
                <Text tag="p" variant="textSM" class="mt-8">
                  {product.launchYear}
                </Text>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
<script type="module">
  import { setupTextAnimation } from "../scripts/textReveal.js";
  document.addEventListener("DOMContentLoaded", () => {
    setupTextAnimation();
  });
</script>
